BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 120

Cpp11BracedListStyle: false
AlignAfterOpenBracket: Align
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

ContinuationIndentWidth: 4
BinPackArguments: false
BinPackParameters: false
AllowShortLambdasOnASingleLine: All
PenaltyBreakBeforeFirstCallParameter: 1